* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variable
$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-grey: #F6F6F6;
$dark-grey: #353535;

// Typo
$font-title: 'Shrikhand', sans-serif;
$font-stack: 'Roboto', sans-serif;

body {
    font-family: $font-stack;
    background-color: $light-grey;
    color: black;
    font-size: 16px;
}


img {
    width: 100%;
    display: block;
}

header {


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        background-color: white;

        img {
            height: 36px;
            width: auto;
        }
    }

    .return-button {
        visibility: visible;
        position: absolute;
        left: 17px;
        font-size: 30px;
        color: $dark-grey;
        text-decoration: none;
    }
}

.hero-img {
    width: 100%;
    height: 275px;
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}

.restaurant-menu {
    background-color: $light-grey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    padding: 40px 15px 60px;
    position: relative;
    z-index: 1;
}

.restaurant-menu__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        font-family: $font-title;
        font-size: 28px;
        font-weight: normal
    }

    i {
        font-size: 22px;
    }
}

.menu-category {
    margin-top: 40px;

    h2 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 40px;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }
}

.menu-card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &__text {
        flex-grow: 1;

        h3 {
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 15px;
            margin: 5px 0;
        }
    }
    .price {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
        white-space: nowrap;
    }
}

.order-button {
    margin-top: 40px;
    padding: 15px 40px;
    background: linear-gradient(170deg, mix($main-color, $secondary-color, 25%),$main-color);
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


footer {
    background-color: $dark-grey;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        font-family: $font-title;
        font-size: 18px;
        font-weight: normal;
    }

    ul{
        list-style: none;
        padding: 0;

        li {
            margin: 8px 0;
            display: flex;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                
            }

            i {
                width: 20px;
            }
        }
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .restaurant-menu {
        padding: 30px 12px;
    }

    .menu-card {
        padding: 12px;
    }
}