@use '../utils/variables' as *;
@use '../utils/mixins' as *;

body.restaurant-page {

    .restaurant-hero {
        width: 100%;
        height: 275px;
        overflow: hidden;

        &__image {
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    .restaurant-menu {
        background-color: $light-grey;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-top: -50px;
        padding: 40px 15px 60px;
        position: relative;
        z-index: 1;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            position: relative;

            @include respond(tablet){
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }

        &__title {
            font-family: $font-title;
            font-size: 28px;
            font-weight: normal;

            @include respond(tablet) {
                text-align: center;
            }
        }

        &__like-icone {
            font-size: 22px;
            margin-right: 20px;
            position: relative;
            cursor: pointer;

            @include respond(tablet) {
                margin: 0;
            }

            input {
                display: none;
            }

            i {
                font-size: 24px;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease;
            }

            .fa-regular {
                z-index: 2;
                color: #000;
                opacity: 1;
                transition: opacity 0.3s ease, transform 0.2s ease;
            }

            .fa-solid {
                z-index: 1;
                color: $main-color;
                clip-path: inset(100% 0 0 0);
                opacity: 1;
                transition: clip-path 0.3s ease;
            }

            input:checked ~ .fa-regular {
                opacity: 0;
                transform: none;
            }

            input:checked ~ .fa-solid {
                clip-path: inset(0 0 0 0);
            }

            input:not(:checked) ~ .fa-solid {
                clip-path: inset(100% 0 0 0);
            }
        }

        &__heart-toggle-wrapper {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        
        &__category {
            margin-top: 40px;

            @include respond(tablet) {
                width: 80%;
                margin: 40px auto 0;
            }

            @include respond(desktop) {
                width: 634px;
            }
        }

        &__category-title {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            border-bottom: 3px solid $tertiary-color;
            padding-bottom: 5px;
            width: 40px;
        }

        &__items {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 10px;
        }    

        &__card {
            background-color: white;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            opacity: 0;
            animation: slide-in-left 0.5s ease forwards;
            gap: 12px;
            transition: all 0.3s ease;

            // Animation delay pour les cartes
            &:nth-child(1) { animation-delay: 0.2s; }
            &:nth-child(2) { animation-delay: 0.4s; }
            &:nth-child(3) { animation-delay: 0.6s; }
            &:nth-child(4) { animation-delay: 0.8s; }

            // Appliquer effet si input est coché
            & input.restaurant-menu__card-checkbox:checked + .restaurant-menu__card-label .restaurant-menu__check {
                transform: translateX(0);
            }

            & input.restaurant-menu__card-checkbox:checked + .restaurant-menu__card-label .restaurant-menu__card-price {
                transform: translateX(-59px);
            }

            & input.restaurant-menu__card-checkbox:checked + .restaurant-menu__card-label .restaurant-menu__card-text {
                padding-right: 59px;
            }
        }

        .restaurant-menu__card-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            gap: 15px;
            width: 100%;
            overflow: hidden;
            height: 100%;
        }

        .restaurant-menu__card-text {
        flex: 1;
        overflow: hidden;
        min-width: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        transition: max-width 0.3s ease, padding-right 0.3s ease;
        }

        .restaurant-menu__card-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        }

        .restaurant-menu__card-desc {
        font-size: 15px;
        font-weight: 300;
        color: #666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        }

        .restaurant-menu__card-price {
        font-weight: bold;
        margin-left: 15px;
        white-space: nowrap;
        transition: transform 0.3s ease;
        flex-shrink: 0;
        z-index: 1;
        position: relative;
        }

        .restaurant-menu__check {
        background-color: $tertiary-color;
        width: 59px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        flex-shrink: 0;

            i {
                background-color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: $tertiary-color;
                padding: 0;
            }
        }

        &__btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            width: 186px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 25px;
            height: 50px;
            background: linear-gradient(170deg, $main-color-mixed, $main-color);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            margin-top: 40px;
            padding: 15px 40px;
            cursor: pointer;
            transition: background-color 0.5s ease, box-shadow 0.3s ease;

            &:hover {
                background-color: linear-gradient(170deg, $main-color-mixed-light, $main-color-light);
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.40);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                opacity: 0;
                transition: opacity 0.3s ease;
                pointer-events: none;
            }

            &:hover::after {
                opacity: 0.1;
            }
        }
    }

    // Animations
    @keyframes slide-in-left {
        from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }


    // Responsive
    @media screen and (max-width: 768px) {
        .restaurant-menu {
            padding: 30px 12px;
        }

        .menu-card {
            padding: 12px;
        }
    }

    @media screen and (min-width: 1024px) {
        main {
            max-width: 3440px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .restaurant-menu {
            max-width: 1080px;
            width: 80%;
            margin: -50px auto 0;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        main {
            max-width: 1023px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}